<h4>Hi <%= @receiver.name %>, </h4>

<p>Here is your encoded message. </p><br>

<p><%= @message %></p><br>

<p>Can you unlock its message?</p><br>

<p>- <%= @sender.name %></p><br>

<p>PS. Sent from my first Rails app</p>